blockquote{
    border-left: 5px solid #000; /* Just change the color value and that's it*/
}

.card .card-image .card-title {
    padding: 3px;
    position: relative;
}

.nav-wrapper {
    background: #212121;
}

nav .brand-logo.center {
    width: 100%;
}

figure.glider-slide {
    margin-left: 0;
    margin-right: 0;
}

figure.glider-slide img {
    display: block;
    margin: 0 auto;
    height: 280px;
}

.view-unselected {
    visibility: hidden;
}

.btn {
    margin-top: 2px;
    margin-bottom: 2px;
}