blockquote{
    border-left: 5px solid #000; /* Just change the color value and that's it*/
}

.card .card-image .card-title {
    padding: 3px;
    position: relative;
}

.nav-wrapper {
    background: #212121;
}

nav .brand-logo.center {
    width: 100%;
}